name: Build and deploy site to `rpadaki/rpadaki.github.io`

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    name: Build and deploy site
    runs-on: ubuntu-20.04
    concurrency: deploy

    steps:
      - name: Checkout repo into `source` directory
        uses: actions/checkout@v2
        with:
          path: source
      - name: Checkout destination repo into `dist` directory
        uses: actions/checkout@v2
        with:
          repository: rpadaki/rpadaki.github.io
          path: dist
          token: ${{ github.token }}
      - name: Restore build tools and objects from cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
            source/target
          key: bio-cargo-${{ hashFiles('source/**/Cargo.lock') }}
          restore-keys: bio-cargo-

      - name: Install rust toolchain for wasm
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true
      - name: Install build tools
        working-directory: source
        run: cargo install trunk wasm-bindgen-cli
      - name: Build release site
        working-directory: source
        run: trunk build --release
      - name: Nuke old website
        working-directory: dist
        run: rm -rf ./*
      - name: Add `.nojekyll`
        working-directory: dist
        run: touch .nojekyll
      - name: Copy new website build
        run: cp -r source/dist dist
      - name: Print proposed git changes
        working-directory: dist
        run: git status
      - name: Authenticate git
        working-directory: dist
        run: |
          git config user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
      - name: Commit new website build
        working-directory: dist
        run: git add . && git commit -m "build of commit ${{ github.sha }} from rpadaki/bio"
      - name: Push new website build
        working-directory: dist
        run: git push origin main
